l<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<h1>About Me</h1>
<p>
  I am a second year student at Minerva Schools at KGI majoring in Computer Science and minoring in Business, currently studying abroad in India.<br>
  I am passionate about developing software and learning new tools. You can check all my experiences on my <a href="https://s3.amazonaws.com/portfolioluccab/Resume-Lucca-11.16.pdf">CV</a>.<br>
  You can check my code on my Github, connect with me on Linkedin, and reach out to me through my mail:
</p>



<div class="social-btns">
  <a class="btn github" href="https://github.com/luccab"><i class="fab fa-github"></i></a>
  <a class="btn linkedin" href="https://www.linkedin.com/in/lucca-castellassi-bazzo-bertoncini-31160413b/"><i class="fab fa-linkedin-in"></i></a>
  <a class="btn google" href="mailto:luccabazzo@gmail.com"><i class="fab fa-google"></i></a>
  <!--a class="btn dribbble" href="#"><i class="fa fa-dribbble"></i></a>
  <a class="btn skype" href="#"><i class="fa fa-skype"></i></a-->
</div>
<!--a href="http://luccabertoncini.shinyapps.io/test">graph</a-->
