<h1>About Me</h1>
<p>
  Find me on my <a href="https://www.linkedin.com/in/lucca-castellassi-bazzo-bertoncini-31160413b/"><em>Linkedin</em></a>.
</p>

<p>
  Check out my <a href="https://github.com/luccab"><em>Github</em></a> for more projects.
</p>
