<link rel="stylesheet" href="app/assets/stylesheets/homepage.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section class="first-section">
  <h1>Hi, I'm Lucca!</h1>

  <p>
    Welcome to my portfolio website!
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</section>
<h1>Projects</h1>
<div class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center gradient-border" id="box">
        <div id="header_photo" class="col-2 col-lg-2">
          <img class="rounded img-fluid floatingimage" src="//s3.amazonaws.com/portfolioluccab/0.png" alt="Cute dog">

		    </div>
        <div class="col-10 col-lg-10">
          <h1>Social network app (works similarly to twitter)</h1>
          <p>Technologies used: </p>
          <a href="https://afternoon-bastion-92445.herokuapp.com/">
          <button class="button-two" style="float: right;"><span><b>Check Me!</b></span></button>
          </a>
  	    </div>





</div>

  </div>


<br>

<div class="center jumbotron">


</div>


</div>
