<div class="center jumbotron">
  <h1>Home</h1>

  <p>
    Welcome to my website, if you want to make comments log-in.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
