<link rel="stylesheet" href="app/assets/stylesheets/homepage.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!--section class="first-section">
  <h1>Hi, I'm Lucca!</h1>

  <p>
    Welcome to my portfolio website!
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</section-->
<h1>Hi, I'm Lucca!</h1>
<br>
<h2>Here you can check some of my projects that I previously worked with:</h2>
<div class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">

      <h4>Car recommendation system built with SK Encar -> <a href="http://minerva.encar.io/">Link</a></h4>
      <br>
      <h4>Data visualization of car rides in the bay area -> <a href="https://react-comma.herokuapp.com/">Link</a></h4>
      <br>
      <h4>Social network app -> <a href="https://afternoon-bastion-92445.herokuapp.com/">Link</a></h4>
      <br>
      <h4>Web app connecting/sending requests to <a href="https://dog.ceo/dog-api/">Dog API</a> -> <a href="https://holidog.herokuapp.com/">Link</a></h4>
      <br>
      <h4>Data analysis in R -> <a href="/data">Link</a></h4>

        <!--div id="header_photo" class="col-2 col-lg-2">
          <img class="rounded img-fluid floatingimage" src="//s3.amazonaws.com/portfolioluccab/0.png" alt="Cute dog">

		    </div-->
        <!--div class="col-10 col-lg-10">
          <h1>Social network app (works similarly to twitter)</h1>
          <p>Technologies used: </p>


          <div class=" columns large-2 large-offset-1 medium-2 small-4"><a href="https://rubyonrails.org/"><% image_tag "https://s3.amazonaws.com/portfolioluccab/Ruby_On_Rails_Logo.png" %>
          <img src="https://s3.amazonaws.com/portfolioluccab/Ruby_On_Rails_Logo.png" height="45" width="120">
        </a>

        <a href="https://heroku.com/">
          <img src="https://s3.amazonaws.com/portfolioluccab/heroku-logotype-vertical-black.png" height="68" width="57">
        </a>

        <img src="https://s3.amazonaws.com/portfolioluccab/HTML5_Logo.png" height="51" width="51">

        <img src="https://s3.amazonaws.com/portfolioluccab/CSS3_Logo.png" height="51" width="38">

        <a href="https://github.com/">
        <img src="https://s3.amazonaws.com/portfolioluccab/GitHub-Mark-120px-plus.png" height="50" width="50" style="margin: 0px 7px">
        </a>

        <a href="https://aws.amazon.com">
        <img src="https://s3.amazonaws.com/portfolioluccab/Amazon_Logo.png" height="40" width="112" style="margin: 0px 7px">
      </a>

          <a href="https://afternoon-bastion-92445.herokuapp.com/">
          <button class="button-two" style="float: right;"><span><b>Check Project</b></span></button>
          </a></div>


      </div-->

</div>

  </div>
<br>
    <div class="container">
      <!--h1>Data analytics</h1-->
      <!--div class="row justify-content-around align-items-center" id="box1">
        <div class="row container">
          <h1>Data analytics</h1>
        </div>
        <div class="row container">
        <a href="/data">
          <button class="button-two"><span><b>Check Projects</b></span></button>
        </a>
        </div>
    </div-->
    </div>


<br>

<div class="center jumbotron">


</div>


</div>
