p{
  text-align: center;
}

h2{
  color:black;
  font-size: 2.5em;
}

.div-data{
  background-color: white;
  border: black;
}



.text{
  position: absolute;
  text-align: justify;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
