.first-section {
  background-image: url('//s3.amazonaws.com/portfolioluccab/krivan-mountain-slovakia-picjumbo-com.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 140px 0 300px;
}

.second-section{
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
*{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color:	#FF0000;
  border: none;
  width: 120px;
  height: 30px;
  transition: all 0.5s;
}

.button-two{
  text-align: center;
  cursor: pointer;
}

.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}


#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 200px;
  color: black;
}
.gradient-border {
  --borderWidth: 3px;
  position: relative;

  background: white;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#projects{
  width: 800px;
  height: 1200px;
}

.floatingimage
{
  float: left;
}

#header_photo img {
  width: 100%;
  height: auto;
  width: auto;
  max-height: 120px;
}

@media all and (max-width: 1024px)
{
  #header_photo
  {
    display: inline-block;
    vertical-align: top;
    max-width: 20%;
    height: auto;
  }
 }
