<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "About Me",   aboutme_path %></li>
      <li>This website was handmade by me and you can find the open source code <a href="https://github.com/luccab/expert-parakeet">here</a></li>
    </ul>
  </nav>
</footer>
